/build/
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/.filecache
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/app.dill
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/debug_android_application.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/flutter_assets.d
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/kernel_snapshot.d
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/kernel_snapshot.stamp
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/.filecache
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/app.dill
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/debug_android_application.stamp
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/flutter_assets.d
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/gen_localizations.stamp
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/kernel_snapshot.d
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/kernel_snapshot.stamp
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/native_assets.stamp
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/native_assets.d
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/native_assets.yaml
.dart_tool/flutter_build/d47350a0deaaa13ceb8dab3315174e25/outputs.json
.dart_tool/flutter_build/dart_plugin_registrant.dart
.dart_tool/package_config.json
.dart_tool/package_config_subset
.flutter-plugins
.flutter-plugins-dependencies
.idea/kotlinc.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Flutter_Plugins.xml
.idea/libraries/KotlinJavaRuntime.xml
.dart_tool/
/.dart_tool
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/.filecache
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/.filecache
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/app.dill
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/debug_android_application.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/flutter_assets.d
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/kernel_snapshot.d
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/kernel_snapshot.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/outputs.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/.filecache
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/app.dill
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/debug_android_application.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/flutter_assets.d
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/kernel_snapshot.d
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/kernel_snapshot.stamp
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/outputs.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/.filecache
.dart_tool/flutter_build/a593420d192cdecc2969e961691b9a1c/app.dill
